# Añadir dependencias necesarias aquí
opencv-python>=4.13.0.92
numpy>=2.0
mediapipe>=0.10.0
customtkinter>=5.2.0
pyautogui
librosa
soundfile
sounddevice
joblib
scikit-learn>=1.7
imbalanced-learn
xgboost
pandas
